/* CSS Document */
body{margin:0; padding:0; background:#fff url(body_bg.gif) repeat-x;font-family:"宋体",Arial, Helvetica, sans-serif ;font-size:12px; }

.message{
	position: absolute;
    top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
	position: fixed;
    top: 17%;
    left: 50%;
    margin-left: -200px;
    width: 450px;
    overflow: hidden;}
.message .corner_top_l{ background:url(sprite.gif) no-repeat 0px -41px; padding-left: 3px;}
.message .corner_top_r{ background:url(sprite.gif) no-repeat right 0px; padding-right: 3px; * zoom: 1;}
.message .head{ 
  background: #d5ff84 url(sprite.gif) repeat-x 0px -82px; 
  color: #333;
  padding: 7px 22px 5px 5px;
  font-family:"sans serif",verdana,tahoma,helvetica;
  font-weight: bold;
  * zoom: 1;
}
.message .content{
  background: url(bc.gif) repeat-x center bottom;
  padding: 7px 7px 7px;
  height: 150px;
  overflow: auto;
}
.message .content_l { background: url(bl.gif) no-repeat left bottom; padding-left: 7px; }
.message .content_r{ background: url(br.gif) no-repeat right bottom; padding-right: 7px; * zoom: 1 }
.message .content table td{padding:3px;line-height:26px;}
.message .content table td span{color:#00F;font-size:14px;}
.message .content table td a{color:#F00; text-decoration:none;}
.message .content table td a:hover{ text-decoration:underline;}